.diaryItem {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 15px 0px;
    border-bottom: 1px solid rgb(138, 136, 136);
}

.img_section > img{
    min-width: 80px;
    height: 80px;
}

.info_section {
    flex: 1;
    font-weight: bold;
    font-size: 20px;
}

.button_section > Button{
    min-width: 60px;
}