.editor {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.editor > input {
    flex: 1;
    padding: 15px;
    border: 1px solid rgb(230, 226, 226);
    border-radius: 5px;
}

.editor > button {
    width: 80px;
    background-color: rgb(16, 152, 152);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}